
.main-page {
  .scroll-content {
    background: url("../assets/img/background-forest.jpg");
  background-size: cover;
  ion-icon[name="menu"] {
    font-size: 5vmax;
     color: #605a81;
  }
  }

}
