@import url('https://fonts.googleapis.com/css?family=Quicksand');
.home-page {
 
  @media screen and (max-width: 42em) {
    .wrap > div {
      float: none;
      width: 100%;
    }
  }
  
  button.fab {
    background-color: transparent;
    right: -22px;
    box-shadow: none;
    color: #736c63;
    &.expand-left {
      right: 22px;
    }
    &.expand-right {
      left: 19px;
    }
    ion-icon {
      font-size: 6rem;
    }
  }
  .scroll-content {
    //background: url("../assets/img/background-forest.jpg");
    background-image: linear-gradient(to right bottom, #f9efe1, #f7ebdd, #f5e8d8, #f4e4d4, #f2e0d0);
    background-size: cover;
    padding: 0 !important;
    div.characters-container{
      height:calc(30vw*2.9);
      overflow: auto;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
      color:#726b62;
      font-weight: bolder;
    }
    ion-input {
      background: #f4efea;
      border-radius: 10px;
      margin-bottom: 13px;
      box-shadow: inset 0 0 12px -2px #e4dfdb;
    }
    button.genre {
      width: 100%;
      color: #726b62;
      background: #f4efea;
      border: none;
      font-size: 2em;
      &.selected {
        &.male {
          background: lightblue;
        }
        &.female {
          background: pink;
        }
      }
    }

    .grid-selection ion-col {
      border-radius: 10px;
      margin: 4px;
      background: #f1eeea;
      &.selected {
        border: 1px solid #9f9f9f;
        background: #dad2c6;
      }
    }
  
    .icon-selection {
      display: inline;
      font-size: 1.2em;
      color: #726b62;
      /* margin-bottom: 10px; */
      top: 2px;
      margin-right: 7px;
      position: relative;
    }
    .editor-story {
      background: transparent;
      //margin: calc(50vh - 215px) auto;
      width: 100%;
      text-align: center;
      &.place {
        //margin: calc(52vh - 276px) auto;
        //width: 91%;
      }

      ion-item, ion-list-header, ion-label{
        background: transparent;
        color: #736c63;
        font-weight: bold;
      }
      ion-input {
        font-weight: bold;
        color: #736c63;
      }
      ion-list-header {
        font-size: 3rem;
        width: 250px;
      }
      .input-name {
         -webkit-animation-delay: 0.2s;
      }
      .input-type {
         -webkit-animation-delay: 0.5s;
      }
      .input-button {
         -webkit-animation-delay: 0.8s;
      }
    }
    ion-icon[name="menu"] {
      font-size: 5vmax;
      color: #605a81;
    }
  }
  ion-card {
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    .card-title {
      position: absolute;
      top: 58px;
      left: 0;
      font-size: 1.2em;
      width: 100%;
      font-weight: bold;
      color: #FDF6F5;
      text-align: center;
      font-family: "Tahoma", Geneva, sans-serif;
    }
  }
  ion-card-content {
    background-image: linear-gradient(to bottom, #fbf8f4, #fbf8f3, #faf7f2, #faf7f2, #f9f6f1);
    p {
      color: #81898F;
      line-height: 2;
    }
    p.story::first-letter { 
      color: #E68C7B;
      float: left;
      font-family: Georgia;
      font-size: 60px;
      line-height: 50px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
  .actions {
    background: #FBF8F4;
    button {
      color: #81898F;
    }
  }
  

}
