
.home-page {
  .scroll-content {
    background: url("../assets/img/background-forest.jpg");
    background-size: cover;
    .editor-story{
      background: transparent;
      margin: calc(50vh - 215px) auto;
      width: 265px;
      text-align: center;

      ion-item, ion-list-header, ion-label{
        background: transparent;
        color: #605a81;
        font-weight: bold;
      }
      ion-list-header {
        font-size: 3rem;
        width: 250px;
      }
      .input-name {
         -webkit-animation-delay: 0.2s;
      }
      .input-type {
         -webkit-animation-delay: 0.5s;
      }
      .input-button {
         -webkit-animation-delay: 0.8s;
      }
    }
    ion-icon[name="menu"] {
      font-size: 5vmax;
      color: #605a81;
    }
  }

}
