// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#sideMenu {
  .toolbar-background {
    //background: #d6cdb3;
    background: url("../assets/img/background-forest.jpg");
  }
  .scroll-content {
    //background: red;
    background: url("../assets/img/background-forest-blur.jpg");
  }
  .item {
    background: #cbc1af;
  }
  .toolbar-title {
    color: #605a81;

  }
}
.scroll-content{overflow-y: hidden;}
body {
  *.disabled {
    opacity: 0.4;
  }
}
.alert-wrapper {
  background-image: linear-gradient(to bottom, #fbf8f4, #fbf8f3, #faf7f2, #faf7f2, #f9f6f1) !important;
  color: #726b62 !important;
  border-radius: 10px !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder !important;
  [aria-checked=true] .alert-radio-label {
    color: #963232;
  }
  [aria-checked=true] .alert-radio-icon {
    border-color: #963232 !important;
  }
  .alert-radio-inner {
    background-color: #963232 !important;
  }
  .alert-button-group button {
    color: #963232;
  }
 
}


